<% layout('landing-page') %>

<div class="d-flex" id="wrapper">
  <% include ../partials/landing-page/sidebar %>
    <div id="page-content-wrapper">
      <% include ../partials/landing-page/navbar %>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="ul-links">
                <ul>
                    <li><a href="/home">Home</a></li> |
                        <li><a href="">Company</a></li>|
                        <li><a href="">Leaderboard</a></li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="body-div">
                <h4 class="title">Leaderboard</h4>

            <div class="row">
                <% for(var i = 0; i < data.length; i++) {%>

                <% var index = _.indexOf(data, data[i]) %>
                <div class="column">
                    <div class="card">
                        <a href="/company-profile/<%= data[i]._id %>">
                        <img class="card-img-top" width="270px" height="240px;"  src="/uploads/<%= data[i].image %>" alt="Card image cap"> 
                        <div class="card-body">
                            <h5 class="card-title"><%= data[i].name %></h5></a><hr>
                                <span>
                                     <%= data[i].ratingSum %>  Total Stars
                                </span><br>
                                <h5>#<%= index + 1 %></h5>
                              
                        </div> 
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <% } %> 
            </div>
        </div>   
    </div>
</div>
   
   
